{% load static i18n %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creative CV</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Creative CV</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">

            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
  <div>
<div class="section" id="skill">
  <div class="container ">
      <div class="content-center" style="text-align: center">
    <div class="h4 text-center mb-4 title"> {% trans "Siz mavjud bo'lmagan sahifaga kirishga urundingiz!" %}<h2>(404)</h2></div>
      <a class="btn btn-primary smooth-scroll mr-2" href="/" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">{% trans 'Bosh sahifa' %}</a>
      </div>
  </div>
</div>
    <footer class="footer">
      <div class="text-center text-muted">
        <p>&copy; Creative CV. {% trans 'Barcha huquqlar himoyalangan' %}.<br>
            Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a> |
            Backend developer - Sardorbek O'ktamov
        </p>
      </div>
    </footer>
    <script src="{%  static 'js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{%  static 'js/core/popper.min.js' %}"></script>
    <script src="{%  static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{%  static 'js/now-ui-kit.js' %}"></script>
    <script src="{%  static 'js/aos.js' %}"></script>
    <script src="{%  static 'scripts/main.js' %}"></script>
  </body>
</html>